<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar session</title>
</head>
<body>
<p>Inicio de session requerido</p>
  <form action="" method="post">
      {% csrf_token  %}
      <h1 class="title">Login</h1>
      <label for="username">
          username
          <i class="fa-solid fa-user"></i>
          <input placeholder="username" type="text" id="username" name="username">
      </label>
      <label for="password">
          password
          <i class="fa-solid fa-lock"></i>
          <input placeholder="password" type="password" id="password" name="password">
      </label>
      <a href="#" class="link">Forgot your password?</a>

      <button type="submit" id="button">Login</button>
  </form>

</body>
</html>